# API Gateway
API_URL=http://localhost:8080

# AWS Cognito
REGION=us-east-1
USER_POOL_ID=YOUR_USER_POOL_ID
USER_POOL_CLIENT_ID=YOUR_USER_POOL_CLIENT_ID
COGNITO_DOMAIN=YOUR_COGNITO_DOMAIN

# OIDC endpoints
ISSUER=https://cognito-idp.us-east-1.amazonaws.com/YOUR_USER_POOL_ID
JWKS_URI=https://cognito-idp.us-east-1.amazonaws.com/YOUR_USER_POOL_ID/.well-known/jwks.json

# Resource server
RESOURCE_SERVER_ID=vidalstore

# OAuth scopes
SCOPE_CATALOGO_LEER=vidalstore/catalogo.leer
SCOPE_CATALOGO_ESCRIBIR=vidalstore/catalogo.escribir
SCOPE_BIBLIOTECA_LEER=vidalstore/biblioteca.leer

# OAuth redirect URIs
REDIRECT_SIGN_IN=http://localhost:4200/callback
REDIRECT_SIGN_OUT=http://localhost:4200

# Optional second app client for backend validation tests
SECOND_APP_CLIENT_ID=YOUR_SECOND_APP_CLIENT_ID