# Gateway / Backend API URL
API_URL=http://localhost:8080

# AWS Cognito Configuration
REGION=us-east-1
USER_POOL_ID=us-east-1_nSvMRuo8S
ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_nSvMRuo8S
JWKS_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_nSvMRuo8S/.well-known/jwks.json
LOGIN_DOMAIN=https://us-east-1nsvmruo8s.auth.us-east-1.amazoncognito.com

# Client IDs
APP_CLIENT_ID=vidalstore/catalogo.leer
APP_CLIENT_2_ID=vidalstore/catalogo.escribir

# Resource Server & Scopes
RESOURCE_SERVER_ID=vidalstore
SCOPE_CATALOGO_LEER=vidalstore/catalogo.leer
SCOPE_CATALOGO_ESCRIBIR=vidalstore/catalogo.escribir
SCOPE_BIBLIOTECA_LEER=vidalstore/biblioteca.leer

# Redirect URIs
REDIRECT_URI=http://localhost:4200/callback
SIGNOUT_URI=http://localhost:4200